<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ticketa</title>

  <!-- Custom styles for this template -->
  <link th:href="@{/css/usuario/detalle.css}" rel="stylesheet">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


</head>

<body>

  <div class="container">
    <h1 class="text-center" th:text="${ticket.titulo}">Mi Título</h1>
    <p class="text-center" th:text="${ticket.descripcion}">Mi Descripción</p>
    <div class="row">
      <div class="col-md-12">
        <h2>Solicitante: </h2>
        <p th:text="${solicitante}">Descripción del usuario 1</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Encargado: </h2>
        <p th:text="${encargado}">Descripción del usuario 2</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Supervisor: </h2>
        <p th:text="${supervisor}">Descripción del usuario 3</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <h2>Creado por: </h2>
        <p th:text="${creador}">Descripción del usuario 3</p>
      </div>
    </div>
  </div>

  </body>

  </html>