/* style.css */
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

h1, h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.btn-edit,.btn-delete {
            margin: 5px;
        }